Repository elysian-projects/architecture-classifier, pull requests merged in 2023-05, with the labels that each got.

#31 improve image upload screen
  app/app/src/main/AndroidManifest.xml
  app/app/src/main/java/com/architecture/app/components/Navbar.java
  app/app/src/main/java/com/architecture/app/constants/Assets.java
  app/app/src/main/java/com/architecture/app/screens/UploadActivity.java
  app/app/src/main/java/com/architecture/app/screens/fragments/UploadFragment.java
  app/app/src/main/res/drawable/camera_for_dialog.xml
  app/app/src/main/res/drawable/gallery_for_dialog.xml
  app/app/src/main/res/layout/activity_upload.xml
  app/app/src/main/res/layout/dialod_upload_fragment.xml
  app/app/src/main/res/layout/fragment_upload.xml
  app/app/src/main/res/values/colors.xml
  app/app/src/main/res/values/strings.xml
Labels: enhancement, in progress, minor, view, priority: high

#44 overall refactoring
  app/app/src/main/java/com/architecture/app/components/Navbar.java
  app/app/src/main/java/com/architecture/app/components/dialog/DialogWindow.java
  app/app/src/main/java/com/architecture/app/components/dialog/DialogWindowSingleButtonsLayout.java
  app/app/src/main/java/com/architecture/app/image/AbstractImageLoader.java
  app/app/src/main/java/com/architecture/app/image/CameraImageLoader.java
  app/app/src/main/java/com/architecture/app/image/GalleryImageLoader.java
  app/app/src/main/java/com/architecture/app/image/ImageLoaderFactory.java
  app/app/src/main/java/com/architecture/app/image/LoaderCallback.java
  app/app/src/main/java/com/architecture/app/image/Utils.java
  app/app/src/main/java/com/architecture/app/model/ModelLoader.java
  app/app/src/main/java/com/architecture/app/screens/fragments/HomeFragment.java
  app/app/src/main/java/com/architecture/app/screens/fragments/UploadFragment.java
  app/app/src/main/java/com/architecture/app/viewModels/HomeScreenViewModel.java
  app/app/src/main/java/com/architecture/app/viewModels/TypeFoundNode.java
  app/app/src/main/res/layout/dialod_upload_fragment.xml
  app/app/src/main/res/layout/dialog_layout.xml
  app/app/src/main/res/layout/fragment_upload.xml
  app/app/src/main/res/layout/row_architecture_type.xml
Labels: enhancement, in progress, infrastructure, patch, view, priority: low

#42 improve main screen design
  app/app/src/main/res/drawable/card_background_gradient.xml
  app/app/src/main/res/drawable/image_preview_background.xml
  app/app/src/main/res/drawable/tag_background.xml
  app/app/src/main/res/layout/row_architecture_type.xml
Labels: enhancement, in progress, minor, view, priority: medium

#45 add: desciption and links to styles
  app/app/src/main/assets/data/architecture_types.json
Labels: enhancement, in progress, view, priority: medium

#46 feat achievements screen
  app/app/src/main/assets/data/achievements.json
  app/app/src/main/assets/previews/achievements/apollon.jpg
  app/app/src/main/assets/previews/achievements/art.jpg
  app/app/src/main/assets/previews/achievements/bear.jpg
  app/app/src/main/assets/previews/achievements/house.jpg
  app/app/src/main/assets/previews/achievements/ivan.jpg
  app/app/src/main/assets/previews/achievements/minotaur.jpg
  app/app/src/main/assets/previews/achievements/mummy.jpg
  app/app/src/main/assets/previews/achievements/papa.jpg
  app/app/src/main/assets/previews/achievements/pharaoh.jpg
  app/app/src/main/assets/previews/achievements/siblings.jpg
  app/app/src/main/java/com/architecture/app/components/AchievementSnackBar.java
  app/app/src/main/java/com/architecture/app/components/dialog/DialogWindow.java
  app/app/src/main/java/com/architecture/app/constants/Assets.java
  app/app/src/main/java/com/architecture/app/screens/MainActivity.java
  app/app/src/main/java/com/architecture/app/screens/fragments/AchievementsFragment.java
  app/app/src/main/java/com/architecture/app/screens/fragments/UploadFragment.java
  app/app/src/main/java/com/architecture/app/utils/AchievementsGridAdapter.java
  app/app/src/main/java/com/architecture/app/utils/AssetsAchievements.java
  app/app/src/main/java/com/architecture/app/utils/AssetsParser.java
  app/app/src/main/java/com/architecture/app/viewModels/Achievement.java
  app/app/src/main/java/com/architecture/app/viewModels/AcquiredAchievementNode.java
  app/app/src/main/res/drawable/achievement_background.xml
  app/app/src/main/res/drawable/baseline_more_vert_black.png
  app/app/src/main/res/drawable/baseline_settings_backup_restore_black.png
  app/app/src/main/res/layout/achievement_notification.xml
  app/app/src/main/res/layout/dialog_layout.xml
  app/app/src/main/res/layout/fragment_achievements.xml
  app/app/src/main/res/layout/row_achievement.xml
  app/app/src/main/res/menu/actionbar_options_menu.xml
  app/app/src/main/res/values/styles.xml
Labels: feature, minor, done, view, priority: high

#48 chore: add tests layout
  app/app/src/main/assets/data/tests.json
  app/app/src/main/assets/previews/tests/easy.jpeg
  app/app/src/main/assets/previews/tests/hard.jpg
  app/app/src/main/assets/previews/tests/legend.jpeg
  app/app/src/main/assets/previews/tests/medium.jpg
  app/app/src/main/assets/previews/tests/random.jpg
  app/app/src/main/java/com/architecture/app/constants/Assets.java
  app/app/src/main/java/com/architecture/app/screens/fragments/HomeFragment.java
  app/app/src/main/java/com/architecture/app/screens/fragments/QuestionFragment.java
  app/app/src/main/java/com/architecture/app/utils/AssetsTests.java
  app/app/src/main/java/com/architecture/app/viewModels/TestNode.java
  app/app/src/main/res/layout/fragment_question.xml
  app/app/src/main/res/layout/row_architecture_type.xml
  app/app/src/main/res/layout/row_test.xml
Labels: feature, in progress, minor, view, priority: high

#47 rebranding
  app/app/src/main/AndroidManifest.xml
  app/app/src/main/ic_launcher_building-playstore.png
  app/app/src/main/ic_launcher_new-playstore.png
  app/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  app/app/src/main/res/mipmap-anydpi-v26/ic_launcher_building.xml
  app/app/src/main/res/mipmap-anydpi-v26/ic_launcher_building_round.xml
  app/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  app/app/src/main/res/mipmap-anydpi-v33/ic_launcher.xml
  app/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/app/src/main/res/mipmap-hdpi/ic_launcher_building.png
  app/app/src/main/res/mipmap-hdpi/ic_launcher_building_foreground.png
  app/app/src/main/res/mipmap-hdpi/ic_launcher_building_round.png
  app/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/app/src/main/res/mipmap-mdpi/ic_launcher_building.png
  app/app/src/main/res/mipmap-mdpi/ic_launcher_building_foreground.png
  app/app/src/main/res/mipmap-mdpi/ic_launcher_building_round.png
  app/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/app/src/main/res/mipmap-xhdpi/ic_launcher_building.png
  app/app/src/main/res/mipmap-xhdpi/ic_launcher_building_foreground.png
  app/app/src/main/res/mipmap-xhdpi/ic_launcher_building_round.png
  app/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/app/src/main/res/mipmap-xxhdpi/ic_launcher_building.png
  app/app/src/main/res/mipmap-xxhdpi/ic_launcher_building_foreground.png
  app/app/src/main/res/mipmap-xxhdpi/ic_launcher_building_round.png
  app/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/app/src/main/res/mipmap-xxxhdpi/ic_launcher_building.png
  app/app/src/main/res/mipmap-xxxhdpi/ic_launcher_building_foreground.png
  app/app/src/main/res/mipmap-xxxhdpi/ic_launcher_building_round.png
  app/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/app/src/main/res/values/ic_launcher_building_background.xml
  app/app/src/main/res/values/strings.xml
Labels: enhancement, in progress, patch, view, priority: high

#49 set title on each screen
  app/app/src/main/java/com/architecture/app/components/Navbar.java
Labels: enhancement, in progress, patch, view, priority: medium
